=image_tag("polygon-top.svg",  :class => "polygon-top", :alt => "polígono")
=render "shared/navbar"

.container
  .questions.page-content
    .row.justify-content-md-center
      .col-md-5
        %a.threedbutton.btn-max{:href => "#{root_path}"}
          .arrow-back
          %span.arrow-text='volver'
      .col-md-5.right.section-img
        =image_tag("list.svg", :alt => "lista")
    .row.justify-content-md-center.margin-top
      .col-md-8
        .input-group
          %input.form-control{:placeholder => t('.search.placeholder'), :type => "text", :id=> "search"}/
          %span.dot
            %i.fas.fa-search{"aria-hidden" => "true"}
        .buttons-selected
          =render "static_pages/buttons"
        .table-responsive
    .row.justify-content-md-center.text-main
      .col-md-8
        %h1.text-title
          =t('.title')
    =image_tag("polygon-big-right.svg",  :class => "polygon-big-right", :alt => "polígono")
    =image_tag("polygon-big-left.svg",  :class => "polygon-big-left", :alt => "polígono")
    .search-results
      =render 'results'
    =render "shared/share"
%footer-answer.sticky-footer.max-parent
  =render "shared/footer"

:javascript
  $("#search").keyup(function (e) {
    sval = $('#search').val();
    if (sval.search(/^[a-zA-Z]+$/) != -1) {
      ppath="/preguntas"+"?search="+sval
      console.log(ppath);
      $.ajax({
        type: "GET",
        url: ppath,
        success: function(result){
          console.log('Success, ajax');
        }
      });
      console.log('Vuelve ajax');
    }
  });
