=image_tag("polygon-top-yellow.svg",  :class => "polygon-top")
=render "shared/navbar"

.container
  .questions
    =image_tag("polygon-right-question.svg",  :class => "polygon-right-question")
    .row.justify-content-md-center.padding-top
      .col-md-8
        %a.threedbutton{:href => "#"}
          %i.fas.fa-arrow-left=t('.button_back')
      .col-md-4
        =image_tag("foco.svg")
    .row.justify-content-md-center.text-main
      .col-md-8
        .text-p-tags
          =t('.search_in')
        .tag-search1
          Derecho
        .tag-search2
          Secundaria
    .row.justify-content-md-center.text-main
      =image_tag("polygon-left-question.svg",  :class => "polygon-left-question")
      .col-md-8
        .text-title
          =t('.title')
        .custome-list
          %ul
            %li La Asamblea Nacional de Estudiantes de Enseñanza Secundaria.
            %li Las Mesas Representativas de Estudiantes.
            %li Los Consejos de Participación Liceal.

        %p.text-p-answer=t('.description')

    .row.justify-content-md-center.text-main
      .col-md-8
        .tag-search1
          tag 1
        .tag-search2
          tag 2
        .tag-search3
          tag 3
        .tag-search4
          tag 4
    %div.margin-top
    .row.justify-content-md-center.center
      .col-md-6
        .text-we-can=t('.we_can')
    .row.justify-content-md-center.center
      .col-md-6
        .row
          .col-md-6
            %a.threedbutton2{:href => "#"}
              =t('.btn_no')
          .col-md-6
            %a.threedbutton2{:href => "#"}
              =t('.btn_yes')
    .row.justify-content-md-center.center
      .col-md-12
        .text-we-can=t('.other_questions')
    -2.times do |x|
      .row.justify-content-md-center
        .col-md-10
          .label-solid
            .div-title
              .row
                .col-md-6
                  .tag-answer
                    Pregunta
                .col-md-6.right.c_gray
                  Enviado Martes 02 de Abril 20:07
            %hr
            .row
              .col-md-12
                .text-p
                  %p Si voy a un colegio doble horario, y practico futbol en un club federado (nacional o peñarol), puedo salir antes y que se me justifiquen las faltas de la ultima materia del dia? Si es posible, que normativa lo considera? Gracias
            .row.justify-content-end
              .btn-shape
                Ver detalle

    %div.margin-top
    .row.justify-content-md-center
      .col-md-10
        .label-solid
          .div-title
            .row
              .col-md-6
                .subtext-title
                  Compartir este derecho
                  %hr
              .col-md-6.right
                =image_tag("facebook.svg")
                =image_tag("twitter.svg")
          .row
            .col-md-12
              .text-p
                %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.




%footer-answer.sticky-footer.max-parent
  =render "shared/footer"