%nav.navbar.navbar-expand-lg.static-top
  .container
    %a.navbar-brand{:href => "#{root_path}"}
      =image_tag("logo.svg", class: "logo")
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %button.btn.btn-outline-primary.my-2.my-sm-0{:type => "submit"} Hacer una consulta
        %li.nav-item
          %button.btn.btn-outline-primary.my-2.my-sm-0{:type => "submit"} Sobre nosotros