
=image_tag("polygon-top-yellow.svg",  :class => "polygon-top")


=render "navbar"

.container
  .complain
    =image_tag("polygon-big-center.svg",  :class => "polygon-big-center")
    .row.justify-content-md-center.padding-top
      .col-md-12
        %button.btn.btn-outline-primary-yellow-shadow{:type => "submit"}
          %i.fas.fa-arrow-left=t('.button_back')
    .row.justify-content-md-center.text-main
      .col-md-auto
        .row
          .col-md-6
            =image_tag("complain.svg",  :class => "icono")
          .col-md-6
            .text-title
              =t('.title')
            .text-p
              =t('.description')
    .row.justify-content-md-center
      .col-md-8
        .label-doted
          .blue-title=t('.instructions_title')
          .blue-subtitle=t('.instructions_p')
    .row.justify-content-md-center
      .col-md-8
        .input-group
          %span
            .text-input=t('.name')
          %input.form-control{:placeholder => t('.name_placeholder'), :type => "text"}/
        .input-group
          %span
            .text-input=t('.email')
          %input.form-control{:placeholder => t('.email_placeholder'), :type => "text"}/
        .input-group
          %span
            .text-input=t('.message')
          %textarea.form-control{:placeholder => t('.message_placeholder')}
        .complain-btn
          %button.btn.btn-outline-primary-yellow-shadow{:type => "submit"}
            =t('.send')

%footer-complain.sticky-footer.max-parent
  =render "shared/footer"