.row.justify-content-md-center.center.margin-bottom
  .col-md-5
    .row
      -if is_activated(session[:search_type]=="utu")
        .col-md-6.margin-top-xsmall
          %a.threedbutton2#option1
            =t('.secundaria')
        .col-md-6.unclic.margin-top-xsmall
          =link_to t('.utu'), "", class: "btn btn-outline-primary-yellow not-cursor", id: "btn_utu"
      -elsif is_activated(session[:search_type]=="secundaria")
        .col-md-6.unclic.margin-top-xsmall
          =link_to t('.secundaria'), "", class: "btn btn-outline-primary-yellow not-cursor", id: "btn_secundaria"
        .col-md-6.margin-top-xsmall
          %a.threedbutton2#option2
            =t('.utu')
      -else
        .col-md-6.margin-top-xsmall
          %a.threedbutton2#option1
            =t('.secundaria')
        .col-md-6.margin-top-xsmall
          %a.threedbutton2#option2
            =t('.utu')


:javascript
  $("#option1").click(function() {
    root_path="#{root_path}"
    $.ajax({ type: "GET", url: root_path+"?search_type=secundaria", success: function(result){
      $('#search').val("");
    }});
  });

  $("#option2").click(function() {
    root_path="#{root_path}"
    $.ajax({ type: "GET", url: root_path+"?search_type=utu", success: function(result){
      $('#search').val("");
    }});
  });

  $("#btn_utu").click(function() {
    return false;
  });

  $("#btn_secundaria").click(function() {
    return false;
  });
