%footer.page-footer.font-small.blue
  / Copyright
  .footer-copyright.text-center.py-3
    .row.justify-content-md-center
      .col-md-7
        .row
          .col-md-6.bottom
            =t('.copyright')
          .col-md-2.bottom
            =image_tag("unicef.svg")
          .col-md-2.bottom
            =image_tag("data.svg")
          .col-md-2.bottom
            =image_tag("ces.svg")