%nav.navbar.navbar-expand-lg.static-top
  .container
    =link_to root_path, class: "navbar-brand" do
      =image_tag("logo.svg", class: "logo")
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          =link_to "Hacer una consulta", static_pages_about_us_path, class: "btn btn-outline-primary"
        %li.nav-item
          =link_to "Sobre nosotros", static_pages_about_us_path, target: "_blank", class: "btn btn-outline-primary"
