-if (@questions && @questions.size > 0)|| (@rights && @rights.size > 0)
  .input-group-search
    .div-scroll
      -@rights.each_with_index do |right, index|
        .row.max-parent.search-top-row
          =link_to right_path(right), class: 'row max-parent' do
            .col-md-10
              .row
                .col-md-12.search-title
                  = right.title
                .col-md-12
                  .tag-search.tag-search1
                    =t('.right')
                  .tag-search.tag-search2
                    =right.school_type
                  -unless right.tag_one.blank?
                    .tag-search.tag-search3
                      =right.tag_one.truncate(12)
                  -unless right.tag_two.blank?
                    .tag-search.tag-search4
                      =right.tag_two.truncate(12)
                  -unless right.tag_three.blank?
                    .tag-search.tag-search5
                      =right.tag_three.truncate(12)
                  -unless right.tag_four.blank?
                    .tag-search.tag-search6
                      =right.tag_four.truncate(12)
            .col-md-2.right.arrow-container
              %span.arrow

      -@questions.each_with_index do |question, index|
        .row.max-parent.search-top-row
          =link_to right_path(question), class: 'row max-parent' do
            .col-md-10
              .row
                .col-md-12.search-title
                  - if question.respond_to?(:pg_search_highlight)
                    = question.pg_search_highlight.html_safe
                  - else
                    = question.message
                .col-md-12
                  .tag-search.tag-search1
                    =t('.question')
            .col-md-2.right.arrow-container
              %span.arrow
    .col-md-12.input-group-btn
      .col-md-6.search-buttons
        =link_to t('.show_all_questions'), questions_path
      .col-md-6.search-buttons
        =link_to t('.not_answers'), rights_path, "data-toggle": "modal", "data-target": "#questionModal", id: "link-open-modal"
