=image_tag("polygon-top.svg",  :class => "polygon-top", :alt => "polígono")
=image_tag("polygon-right-down2.svg",  :class => "polygon-right-down", :alt => "polígono")
=render "shared/navbar"

.container
  .about_us
    .row.justify-content-md-center
      .col-md-6
        %a.threedbutton.btn-max{:href => "#{root_path}"}
          .arrow-back
          %span.arrow-text='volver'
      .col-md-6.justify-content-md-center
        =image_tag("page.svg", :class => "about-img", :alt => "página")
    .row.justify-content-md-center.text-main
      .col-md-9
        %h1.text-title
          =t('.title')
        %hr
    .row.justify-content-md-center
      .col-md-9
        .row
          .col-md-8
            .text-p
              %p=t('.text_about_html')
    .row.justify-content-md-center
      .col-md-10
        .label-solid
          .row
            .col-md-6
              %h2.text-title
                =t('.subtitle-origen')
              %hr
              .text-p
                %p=t('.box_text_left_origen_html')
            .col-md-6
              .text-p.no-top
                %p=t('.box_text_right_origen_html')
    .row.justify-content-md-center.margin-top
      .col-md-9
        .row
          .col-md-12
            %h2.text-title
              =t('.subtitle-objetivos')
            %hr
            .text-p
              %p=t('.box_text_left_objetivos_html')
    .row.justify-content-md-center
      .col-md-10
        .label-solid
          .row
            .col-md-6
              %h2.text-title
                =t('.subtitle-antecedentes')
              %hr
              .text-p
                %p=t('.box_text_left_antecedentes_html')
            .col-md-6
              .text-p.no-top
                %p=t('.box_text_right_antecedentes_html')
    .row.justify-content-md-center.margin-top
      .col-md-9
        .row
          .col-md-6
            %h2.text-title
              =t('.subtitle-da')
            %hr
            .text-p
              %p=t('.box_text_left_da_html')
          .col-md-6
            .text-p.no-top
              %p=t('.box_text_right_da_html')
    .row.justify-content-md-center
      .col-md-10
        .label-solid
          .row
            .col-md-12
              %h2.text-title
                =t('.subtitle-procesamiento')
              %hr
              .text-p
                %p=t('.box_text_left_procesamiento_html')

    .row.justify-content-md-center.margin-top
      .col-md-9
        .row
          .col-md-12
            %h2.text-title
              =t('.subtitle-disponibilidad')
            %hr
            .text-p
              %p=t('.box_text_left_disponibilidad_html')
    .row.justify-content-md-center
      .col-md-10
        .label-solid
          .row
            .col-md-6
              %h2.text-title
                =t('.subtitle-contacto')
              %hr
              .text-p
                %p=t('.box_text_left_contacto_html')
            .col-md-6
              .text-p.no-top
                %p=t('.box_text_right_contacto_html')
    .row.justify-content-md-center.margin-top
      .col-md-9
        .row
          .col-md-12
            %h2.text-title
              =t('.subtitle-tyc')
            %hr
            .text-p
              %p=t('.box_text_left_tyc_html')
    .row.justify-content-md-center
      .col-md-10
        .label-solid
          .row
            .col-md-12
              %h2.text-title
                =t('.subtitle-lenguaje')
              %hr
              .text-p
                %p=t('.box_text_left_lenguaje_html')


%footer-about-us.sticky-footer.max-parent
  =render "shared/footer"
