=image_tag("polygon-top.svg",  :class => "polygon-top", :alt => "polígono")
=render "shared/navbar"

.container
  .landing
    =image_tag("polygon-right.svg",  :class => "polygon-right", :alt => "polígono")
    =image_tag("polygon.svg",  :class => "polygon-left", :alt => "polígono")

    .col-md-12.section
      .row.justify-content-md-center
        .col-md-8
          .row
            .col-md-5
              =image_tag("saber.svg",  :class => "icono", :alt => "saber")
            .col-md-7
              .text-know-title
                =t('.know.title')
              %h1.text-know-p
                =t('.know.description')
      .row.justify-content-md-center
        .col-md-auto
          .text-know-subtitle
            =t('.know.subtitle')
      .row.justify-content-md-center
        .col-md-8
          .buttons-selected
            =render "buttons"
          .col-md-12
            .input-group
              %input.form-control{:placeholder => t('.search.placeholder'), :type => "text", :id=> "search"}/
              %span.dot
                %i.fas.fa-search{"aria-hidden" => "true"}
            .table-responsive
              =render 'searcher'

      .row.justify-content-md-center
        .col-md-8
          .dialog-error

    .col-md-12.section
      .row.justify-content-md-center.complains
        .col-md-4
          .row.justify-content-md-center.mm-x
            .col-md-12
              %hr-title
              .text-complain-title
                =t('.question.title')
            .col-md-12
              .text-complain-p
                =t('.question.description')
            .col-md-12
              =link_to t('.question.button_ok'), '#', class: "btn btn-outline-primary-yellow btn-max", "data-toggle": "modal", "data-target": "#questionModal"
        .col-md-3.right
          .row.justify-content-md-center
            =image_tag("paloma.svg", class: "icono sm-y", :alt => "paloma")

    .col-md-12.section
      .row.justify-content-md-center.complains
        .col-md-4
          .row.justify-content-md-center.mm-x
            .col-md-12
              %hr-title
              .text-complain-title
                =t('.complain.title')
            .col-md-12
              .text-complain-p
                =t('.complain.description')
            .col-md-12
              =link_to t('.complain.button_ok'), new_complain_path, class: "btn btn-outline-primary-yellow btn-max"
        .col-md-3.right
          .row.justify-content-md-center
            =image_tag("queja.svg",  :class => "icono sm-y", :alt => "queja")

        .row.justify-content-md-center
    =image_tag("polygon-right-down.svg",  :class => "polygon-right-down", :alt => "polígono")
    .row.justify-content-md-center
      .col-md-10
        =render "shared/share"
    .col-md-12.section
      .row.justify-content-md-center
        .col-md-8.center
          .text-know-title.max-parent.center
            =t('.title_section_two')
          .text-subsection-know-p.max-parent.center
            =t('.description_section_two')
      .row.justify-content-md-center.section_main
        .col-md-8
          .label-solid
            %a{:href => "https://elijoestudiar.edu.uy", :target => "_blank"}
              .row.padding-section-main
                =image_tag("section_1.svg",  :class => "icono", :alt => "sección")
                .col-md-6.space-left
                  .text-title
                    =t('.card_one_title')
                  %hr
                  .text-p
                    %p
                      =t('.card_one_description_html')
            .row.justify-content-end
              .col-md-6
                .btn-shape.space-left
                  .subtext-title
                    =t('.shared')
                    .space
                    %a.fbsharelink{"data-shareurl" => "https://elijoestudiar.edu.uy/"}
                      =image_tag("facebook.svg", :alt => "facebook")
                    %a.twsharelink{"data-shareurl" => "https://elijoestudiar.edu.uy/"}
                      =image_tag("twitter.svg", :alt => "twitter")


      .row.justify-content-md-center.section_main
        .col-md-8
          .label-solid
            %a{:href => "https://www.anep.edu.uy/", :target => "_blank"}
              .row.padding-section-main
                .col-md-6.space-left
                  .text-title
                    =t('.card_two_title')
                  %hr
                  .text-p
                    %p
                      =t('.card_two_description_html')
                .col-md-6
                  =image_tag("convivencia_al_centro.svg",  :class => "icono", :alt => "sección")

            .row.justify-content-end
              .col-md-6.left
                .btn-shape-left.space-left
                  .subtext-title
                    =t('.shared')
                    .space
                    %a.fbsharelink{"data-shareurl" => "https://www.anep.edu.uy/"}
                      =image_tag("facebook.svg", :alt => "facebook")
                    %a.twsharelink{"data-shareurl" => "https://www.anep.edu.uy/"}
                      =image_tag("twitter.svg", :alt => "twitter")
              .col-md-6

%footer-landing.sticky-footer.max-parent
  =render "shared/footer"

:javascript
  $("#search").keyup(function (e) {
    if ($(".unclic")[0]){
      root_path="#{root_path}"
      $.ajax({ type: "GET", url: root_path+"?search="+$('#search').val(), success: function(result){
      }});
    }else{
      $('.dialog-error').html("#{escape_javascript(render 'shared/dialog_error')}");
      $(".alert").delay(2000).slideUp(200, function() {
        if ($.isFunction($(this).alert)) {
          $(this).alert('close');
        }
      });
    }
  });

  $("#search").click(function (e) {
   if (!$(".unclic")[0]){
      $('.dialog-error').html("#{escape_javascript(render 'shared/dialog_error')}");
      $(".alert").delay(2000).slideUp(200, function() {
        if ($.isFunction($(this).alert)) {
          $(this).alert('close');
        }
      });
    }
  });

  $('.fbsharelink').click( function()
  {
      var shareurl = $(this).data('shareurl');
      window.open('https://www.facebook.com/sharer/sharer.php?u='+escape(shareurl)+'&t='+document.title, '',
      'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
      return false;
  });

  $('.twsharelink').click( function()
  {
      var shareurl = $(this).data('shareurl');
      window.open('https://twitter.com/share?url=' + escape(shareurl), 'twitter-popup', 'height=350,width=600');
      return false;
  });
