=image_tag("polygon.svg",  :class => "polygon-left")
=image_tag("polygon-top.svg",  :class => "polygon-top")
=image_tag("polygon-right.svg",  :class => "polygon-right")
=image_tag("polygon-right-down.svg",  :class => "polygon-right-down")
=image_tag("polygon-left-down.svg",  :class => "polygon-left-down")
