=image_tag("polygon-top.svg",  :class => "polygon-top")
=render "shared/navbar"

.container
  .landing
    =image_tag("polygon-right.svg",  :class => "polygon-right")
    =image_tag("polygon.svg",  :class => "polygon-left")
    .row.justify-content-md-center
      .col-md-auto
        =image_tag("polygon-center.svg",  :class => "polygon-center")
        .row
          .col-md-5
            =image_tag("icono_saber.svg",  :class => "icono")
          .col-md-7
            .text-know-title
              =t('.know.title')
            .text-know-p
              =t('.know.description')
    .row.justify-content-md-center
      .col-md-auto
        .text-know-subtitle
          =t('.know.subtitle')
    %div
    .buttons-selected
      =render "buttons"

    .row.justify-content-md-center
      .col-md-8
        .input-group
          %input.form-control{:placeholder => t('.search.placeholder'), :type => "text", :id=> "search"}/
          %span.dot
            %i.fas.fa-search{"aria-hidden" => "true"}
        .table-responsive
          =render 'searcher'

    .row.justify-content-md-center
      .col-md-8
        .dialog-error


    .row.justify-content-md-center
      .col-md-6
        .text-complain-title
          =t('.complain.title')
    .row.justify-content-md-center
      .col-md-auto
        =image_tag("polygon-center.svg",  :class => "polygon-center-right")
        .row
          .col-md-6
            %hr-title
            .text-complain-p
              =t('.complain.description')
          .col-md-6.right
            =image_tag("complain.svg",  :class => "icono")

    .row.justify-content-md-center
      .col-md-8
        =link_to t('.complain.button_ok'), new_complain_path, class: "btn btn-outline-primary-yellow"
    =image_tag("polygon-right-down.svg",  :class => "polygon-right-down")

    %div.margin-top-big
    .row.justify-content-md-center
      .col-md-8.center
        .text-know-title.max-parent.center
          =t('.title_section_two')
        .text-subsection-know-p.max-parent.center
          =t('.description_section_two')

    .row.justify-content-md-center.section_main
      .col-md-10
        .label-solid
          .row.padding-section-main
            .col-md-6
              =image_tag("section_1.svg",  :class => "icono")
            .col-md-6.space-right
              .text-title
                =t('.card_one_title')
              %hr
              .text-p
                %p
                  =t('.card_one_description_html')
          .row.justify-content-end
            .col-md-6
              .btn-shape
                .subtext-title
                  =t('.shared')
                  .space=image_tag("facebook.svg")
                  =image_tag("twitter.svg")


    .row.justify-content-md-center.section_main
      .col-md-10
        .label-solid
          .row.padding-section-main
            .col-md-6.space-left
              .text-title
                =t('.card_two_title')
              %hr
              .text-p
                %p
                  =t('.card_two_description_html')
            .col-md-6
              =image_tag("section_2.svg",  :class => "icono")

          .row.justify-content-end
            .col-md-6.left
              .btn-shape-left
                .subtext-title
                  =t('.shared')
                  .space=image_tag("facebook.svg")
                  =image_tag("twitter.svg")
            .col-md-6

%footer-landing.sticky-footer.max-parent
  =render "shared/footer"

:javascript
  $("#search").keyup(function (e) {
    if ($(".unclic")[0]){
      root_path="#{root_path}"
      $.ajax({ type: "GET", url: root_path+"?search="+$('#search').val(), success: function(result){
      }});
    }else{
      $('.dialog-error').html("#{escape_javascript(render 'shared/dialog_error')}");
      $(".alert").delay(2000).slideUp(200, function() {
        if ($.isFunction($(this).alert)) {
          $(this).alert('close');
        }
      });
    }
  });

  $("#search").click(function (e) {
   if (!$(".unclic")[0]){
      $('.dialog-error').html("#{escape_javascript(render 'shared/dialog_error')}");
      $(".alert").delay(2000).slideUp(200, function() {
        if ($.isFunction($(this).alert)) {
          $(this).alert('close');
        }
      });
    }
  });