.container{
  .complain{
    margin-top: 100px;
    hr{
      width: 64px;
      height: 3px;
      position: absolute;
      background-color: $orange;
    }
    .icono{
      width: 218px;
      height: 153px;
      object-fit: contain;
    }
    .text-title{
      width: 254px;
      height: 94px;
      font-size: 38px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.81px;
      color: $medium-gray;
    }

    .text-p{
      width: 358px;
      height: 122px;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.66;
      letter-spacing: normal;
      color: $medium-gray;
    }

    .text-subtitle{
      font-size: 14.4px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: 1.12px;
      text-align: center;
      color: $medium-gray;
      margin-top: 25px;
    }

    .blue-title{
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $blue-title;
    }

    .blue-subtitle{
      font-family: SourceSansPro-It;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $blue;
    }

    .text-input{
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $dark-blue;
      margin-top: 5px;
    }

    .btn-group{
      margin-top: 30px;
      text-align: center;
    }
    .text-main{
      padding-top: 110px;
    }

    .label-doted{
      text-align: center;
      border: dotted 2px $blue-title;
      border-radius: 27.6px;
      padding: 24px;
      margin-top: 10px;
      margin-bottom: 20px
    }
    .complain-btn{
      margin-top: 15px;
      text-align: right;
    }
  }
}
