.container{
  .landing{
    margin-top: 120px;
    hr{
      width: 64px;
      height: 3px;
      position: absolute;
      background-color: $orange;
    }
    .icono{
      width: 218px;
      height: 153px;
      object-fit: contain;
    }
    .text-know-title{
        width: 322px;
        height: 47px;
        font-size: 38px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.81px;
        text-align: center;
        color: #00a6d6;
    }

    .text-know-p{
      width: 381px;
      height: 104px;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.66;
      letter-spacing: normal;
      color: $medium-gray;
    }

    .text-know-subtitle{
      font-size: 14.4px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: 1.12px;
      text-align: center;
      color: $medium-gray;
      margin-top: 25px;
    }

    .text-complain-title{
      margin-top: 100px;
      width: 201px;
      height: 28px;
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.85);
    }

    .text-complain-p{
      width: 381px;
      height: 104px;
      margin-top: 50px;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.66;
      letter-spacing: normal;
      color: $medium-gray;
    }

    .btn-group{
      margin-top: 30px;
      text-align: center;
    }

    .label-solid{
      border-radius: 29.4px;
      border: solid 1.8px $medium-gray;
      margin-bottom: 30px;
      background-color: white;
      box-shadow: 0 8px 0 $medium-gray, 0 15px 20px rgba(0, 0, 0, .35);
      -webkit-transition: -webkit-box-shadow .1s ease-in-out;
      -moz-transition: -moz-box-shadow .1s ease-in-out;
      -o-transition: -o-box-shadow .1s ease-in-out;
      transition: box-shadow .1s ease-in-out;
      padding-top: 20px;
    }


    .btn-shape{
      text-align: center;
      width: 100%;
      height: 78px;
      margin-right: 13px;
      font-weight: bold;
      border-top-left-radius: 16.4px;
      border-bottom-right-radius: 16.4px;
      padding-top: 20px;
      border: solid 1.8px $medium-gray;
    }

    .btn-shape-left{
      text-align: center;
      width: 100%;
      height: 78px;
      margin-right: 13px;
      font-weight: bold;
      border-top-right-radius: 16.4px;
      border-bottom-left-radius: 16.4px;
      padding-top: 20px;
      border: solid 1.8px $medium-gray;
    }

    .text-p{
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.66;
      letter-spacing: normal;
      color: $medium-gray;
      padding: 20px 0px 0px 50px;
    }

    .padding-section-main{
      padding: 20px;
    }
    .section_main{
      hr{
        width: 64px;
        height: 3px;
        position: absolute;
        background-color: $blue-text;
      }
      .icono{
        width: 100%;
        height: 153px;
        object-fit: contain;
      }
      .text-title{
        font-size: 38px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.81px;
        color: $blue-text;
      }

      .text-p{
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.66;
        letter-spacing: normal;
        color: $medium-gray;
        padding: 30px 0px 0px 0px;
      }

    }
  }
}
