.content-login{
  margin-top: 50px;
}
.search-row{
  padding: 20px;
  padding-top: 0px;
  border-bottom: 1.2px black solid;
  margin-right: 0px;
  margin-left: 0px;
}

.search-top-row{
  padding: 20px;
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: 1px solid $medium-gray;
}

.search-buttons a{
  justify-content: center;
  text-align: center;
  font-size: 12.8px;
  font-weight: bold;
  border-radius: 24.8px;
  border: 1.2px $medium-gray solid;
  padding: 12px;
  text-decoration: none;
  color: $medium-gray  !important;
  display: flex;
}
.search-title {
  margin-bottom: 8px;
}
.unclic{
  margin-top: 14px;
}

.unclic-modal{
  margin-top: 30px;
}

.not-cursor{
  cursor: default !important;
}
