@media (max-width: 360px) {
  .input-group-search .input-group-btn {
    padding-top: 1em;
  }
  .search-top-row .col-md-2 {
    padding: 0;
  }
}
@media (max-width: 758px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .container .landing {
    margin-top: 60px;
  }
  .section {
    margin-top: 42px;
    margin-bottom: 0;
  }
  .navbar-brand .logo {
    width: 168px;
  }
  .btn-max {
    max-width: 138px;
  }
  .container .landing .text-know-title {
    text-align: center;
    margin: 22px auto 0;
  }
  .container .landing .text-know-p {
    text-align: center;
    margin: 21px auto;
  }
  .container .landing .text-know-subtitle {
    font-size: 18px;
    line-height: 1.49;
    letter-spacing: 1.4px;
  }
  .row.complains {
    flex-direction: column-reverse;
  }
  .container .landing .text-complain-title {
    margin-left: 0;
    margin-bottom: 14px;
  }
  .mm-x {
    padding: 10px 60px;
  }
  .container .landing hr-title {
    -webkit-margin-before: 28px;
    margin-block-start: 28px;
  }
  /* About Us*/
  .container .about_us{
    margin-top: 43px;
  }
  .fa-arrow-left {
    text-indent: -999px;
    min-width: 16px;
  }
  .fa-arrow-left::before {
    margin-right: 0;
    text-indent: 0px;
    float: left;
    font-size: 20px;
  }
  a.threedbutton {
    width: 84px;
    height: 45px;
    margin: 1rem;
  }
  .about-img {
    margin: 52px auto;
  }

  /* COMPLAINS */
  .polygon-big-center {
    width: 300%;
    margin-left: -100%;
  }
  .complain #send_complain {
    width: 100%;
    margin: 1rem 0;
  }
  /*SEARCH BOX*/
  .search-top-row .col-md-10 {
    width: 84%;
  }
  .search-top-row .col-md-2 {
    width: 16%;
  }
  /* QUESTIONS*/
  .container .questions {
    margin-top: 0;
  }
  .section-img {
    margin-top: 60px;
    padding: 0 2rem;
  }
  .section-head {
    margin: 0 22px;
  }
  .margin-top {
    text-align: left;
  }
  .questions .text-p-tags {
    width: 100%;
    display: block;
  }
  /* GENERAL */
  .arrow-text {
    display: none;
  }
}

@media (max-width: 992px) {
  .polygon-top,
  .polygon-right,
  .polygon-left,
  .polygon-right-down,
  .polygon-left-down {
    display: none;
  }
  .polygon-mobile {
    display: flex;
  }
  footer-landing {
    background-image: url(asset-path('polygon-mobile-bottom.svg'));
    background-repeat: no-repeat;
    background-size: 100% 468px;
    top: 80px;
    height: 468px;
  }
  footer-landing .logo {
    width: 26%;
    margin: 0 auto;
  }
  footer-landing .col-md-12 {
    display: inline-block;
  }
  footer-landing .row.between {
    margin-top: 42px;
    margin-bottom: 60px;
  }
  footer-landing .row.first,
  footer-landing .row.between,
  footer-landing .row.last {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1190px) {
  .nav-item .btn-outline-primary {
    padding-top: 4px;
  }
}
