.c_purple 		  {color:$purple;}
.c_yellow			  {color:$yellow;}
.c_blue 			  {color:$blue;}
.c_light-blue   {color:$light-blue;}
.c_dark-gray    {color:$dark-gray;}
.c_medium-gray  {color:$medium-gray;}
.c_light-gray   {color:$light-gray;}
.c_gray-purple  {color:$gray-purple;}
.c_lime 			  {color:$lime;}
.c_light-green 	{color:$light-green;}
.c_dark-green 	{color:$dark-green;}
.c_red 			    {color:$red;}
.c_orange 			{color:$orange;}
.c_white 			  {color:#fff;}
.c_light-yellow   {color: $light-yellow}

.bg-purple 			{background-color:$purple;}
.bg-yellow			{background-color:$yellow;}
.bg-blue 			  {background-color:$blue;}
.bg-light-blue 	{background-color:$light-blue;}
.bg-dark-gray 	{background-color:$dark-gray;}
.bg-medium-gray	{background-color:$medium-gray;}
.bg-light--gray	{background-color:$light-gray;}
.bg-gray-purple	{background-color:$gray-purple;}
.bg-lime 			  {background-color:$lime;}
.bg-light-green {background-color:$light-green;}
.bg-dark-green 	{background-color:$dark-green;}
.bg-navbar 		  {background-color:$white;}
.bg-black       {background-color: #000}

.fill_light-yellow   {fill: $light-yellow !important}