.container {
  padding-left: 5rem;
  padding-right: 5rem;
}
.page-content {
  margin-top: 7rem;
}
.mixed-header {
  width: 100%;
  display: inline-block;
}
.left-side {
  float: left;
}
.right-side {
  float: right;
}
