// Colors
$purple:#AA005A;
$light-purple:#9F4995;
$yellow:#ffc107;
$dark-yellow: #b77e00;
$blue: #003087;
$dark-blue: #4a90e2;
$blue-text: #00a6d6;
$light-blue: #d3edf5;
$blue-title: #84a1d5;
$medium-gray: #383a48;
$dark-gray: #243033;
$light-gray: #E9EDF2;
$gray-purple: #4C4D66;
$lime: #BBD53B;
$light-green: #59C186;
$dark-green:#28a745;
$red:#ff0000;
$orange:#ffb81c;
$green:#00B14D;
$gold: #FFB100;
$yellow: #ffb81c;
$light-yellow: #fbebc7;
$gray: #9fa0a4;

body{
    font-family: SourceSansPro;
    font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
}

.max-parent{
    width: 100% !important;
}
.right{
    text-align: right;
}

.left{
    text-align: right;
}
.bottom{
    display: flex;
    align-items: flex-end;
}
.padding-top{
    padding-top: 20px;
}

.margin-top{
    margin-top: 50px;
}
