// Colors
$purple:#AA005A;
$light-purple:#9F4995;
$yellow:#ffc107;
$blue: #007bff;
$light-blue: #5996D1;
$dark-gray: #243033;
$medium-gray: #525F63;
$light-gray: #E9EDF2;
$gray-purple: #4C4D66;
$lime: #BBD53B;
$light-green: #59C186;
$dark-green:#28a745;
$red:#ff0000;
$corn:#f7931d;
$green:#00B14D;
$gold: #FFB100;
$yellow: #ffb81c;

.max-parent{
    width: 100% !important;
}
.right{
    text-align: right;
}

.left{
    text-align: right;
}