// Colors
$purple:#AA005A;
$light-purple:#9F4995;
$yellow:#ffc107;
$blue: #003087;
$light-blue: #d3edf5;
$medium-gray: #383a48;
$dark-gray: #243033;
$light-gray: #E9EDF2;
$gray-purple: #4C4D66;
$lime: #BBD53B;
$light-green: #59C186;
$dark-green:#28a745;
$red:#ff0000;
$orange:#ffb81c;
$green:#00B14D;
$gold: #FFB100;
$yellow: #ffb81c;

body{
    font-family: SourceSansPro;
    font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
}

.max-parent{
    width: 100% !important;
}
.right{
    text-align: right;
}

.left{
    text-align: right;
}
.bottom{
    display: flex;
    align-items: flex-end;
}
