.container.my-auto
  .copyright.text-center.my-auto
    =image_tag("polygon-left-down.svg",  :class => "polygon-left-down")
    .footer-copyright.text-center.py-3
      .row.justify-content-end
        .col-md-12
          .row.first
            =image_tag("unicef.svg", :class => "logo")
            =image_tag("DATA.svg", :class => "logo data")
            =image_tag("ANEP.svg", :class => "logo anep")
          .row.between
            =image_tag("CODICEN.svg", :class => "logo codicen")
            =image_tag("CES.svg", :class => "logo ces")
            =image_tag("CETP.svg", :class => "logo cetp")
          .row.last
            =raw t('.copyright')
