.btn-outline-primary{
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 19.8px;
  border: solid 1.2px $medium-gray;
  width: 186px;
  color: $medium-gray;
  &:hover {
    background-color: white;
    color: $medium-gray;
    border: solid 1.2px $medium-gray;
  }
}

.fa-arrow-left:before {
  margin-right: 10px;
}

.btn-outline-primary-yellow{
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 19.8px;
  border: solid 1.2px black;
  width: 186px;
  color: $black;
  background-color: $yellow;
}

.btn-group{
  background-color: $light-blue;
  border-radius: 19.8px;
  border: solid 1.2px $medium-gray;

  .btn-secondary{
    width: 208px;
    height: 40px;
    border: solid 0px;
    border-radius: 19.8px;
    background-color: transparent;
    color: $medium-gray;
    &:active:hover {
      border: solid 1.2px $medium-gray;
      background-color: transparent;
      color: $medium-gray;
      border: solid 0px;
    }
  }

  .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    width: 208px;
    height: 35px;
    border-radius: 19.8px;
    border: solid 1.2px #fff;
    background-color: $blue;
    box-shadow: 0 8px 0 $blue, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    &:active{
      background-color: $blue;
      color:#fff;
    }
  }
}


a.threedbutton {
  text-align: center;
  width: 208px;
  height: 35px;
  background:$yellow; /* background color of button */
  color: black;
  text-decoration: none;
  position: relative;
  top: 0; /* anchor main button's position */
  bottom: -12px; /* Depth of 3D effect. :after pseudo element inherits this value so it's animated in Chrome. See: kizu.ru/en/pseudos */
  margin-bottom: 12px;
  -moz-box-shadow: 0 -15px 5px $yellow inset;
  -webkit-box-shadow: 0 -15px 5px $yellow inset;
  box-shadow: 0 -15px 5px $yellow inset;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: solid 1.2px black;

}
a.threedbutton, a.threedbutton:after {
  display: inline-block;
  padding: 5px 15px; /* vertical and horizontal padding of button */
  -moz-border-radius: 19.8px;
  -webkit-border-radius: 19.8px;
  border-radius: 19.8px;
  outline: none;
}
a.threedbutton:after { /* pseudo element to construct 3D side of button */
  content: "";
  position: absolute;
  padding: 0;
  z-index: -1;
  bottom: inherit; /* Inherit main button bottom value to animate it. See: kizu.ru/en/pseudos */
  left: 0;
  margin-bottom: 3px;
  width: 100%;
  height: 90%;
  background: $dark-yellow; ; /* background color of 3D effect */
  -moz-box-shadow:  1px 1px 0px $black, -1px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow:   1px 1px 0px $black, -1px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 0px $black, -1px 0px 0px rgba(0, 0, 0, 1);
}
a.threedbutton:active {
  top: 12px; /* shift button down 12px when depressed. Change 12px to match button's "bottom" property above */
  bottom: 0;
  -moz-box-shadow: 0 -20px 5px $yellow inset, 1px 1px 2px #eee;
  -webkit-box-shadow: 0 -20px 5px $yellow inset, 1px 1px 2px #eee;
  box-shadow: 0 -20px 5px $yellow inset, 1px 1px 2px #eee;
}

a.threedbutton2 {
  text-align: center;
  width: 165px;
  height: 40px;
  background:$blue; /* background color of button */
  color: white;
  text-decoration: none;
  position: relative;
  top: 0; /* anchor main button's position */
  bottom: -12px; /* Depth of 3D effect. :after pseudo element inherits this value so it's animated in Chrome. See: kizu.ru/en/pseudos */
  margin-bottom: 12px;
  -moz-box-shadow: 0 -15px 5px $blue inset;
  -webkit-box-shadow: 0 -15px 5px $blue inset;
  box-shadow: 0 -15px 5px $blue inset;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: solid 1.2px white;

}
a.threedbutton2, a.threedbutton2:after {
  display: inline-block;
  padding: 5px 15px; /* vertical and horizontal padding of button */
  -moz-border-radius: 19.8px;
  -webkit-border-radius: 19.8px;
  border-radius: 19.8px;
  outline: none;
}
a.threedbutton2:after { /* pseudo element to construct 3D side of button */
  content: "";
  position: absolute;
  padding: 0;
  z-index: -1;
  bottom: inherit; /* Inherit main button bottom value to animate it. See: kizu.ru/en/pseudos */
  left: 0;
  margin-bottom: 3px;
  width: 100%;
  height: 90%;
  background: $blue; /* background color of 3D effect */
  -moz-box-shadow:  1px 1px 0px white, -1px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow:   1px 1px 0px white, -1px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 0px white, -1px 0px 0px rgba(0, 0, 0, 1);
}
a.threedbutton2:active {
  top: 12px; /* shift button down 12px when depressed. Change 12px to match button's "bottom" property above */
  bottom: 0;
  -moz-box-shadow: 0 -20px 5px $blue inset, 1px 1px 2px #eee;
  -webkit-box-shadow: 0 -20px 5px $blue inset, 1px 1px 2px #eee;
  box-shadow: 0 -20px 5px $blue inset, 1px 1px 2px #eee;
}