.btn-outline-primary{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12.8px;
  font-style: normal;
  font-stretch: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 19.8px;
  border: solid 1.2px $medium-gray;
  width: 186px;
  height: 40px;
  color: $medium-gray;
  padding-top: 10px;
  &:hover {
    background-color: white;
    color: $medium-gray;
    border: solid 1.2px $medium-gray;
  }
}

.fa-arrow-left:before {
  margin-right: 10px;
}

.btn-outline-primary-yellow{
  height: 40px;
  border-radius: 19.8px;
  border: solid 1.2px black;
  border-bottom: 2px solid black;
  width: 100%;
  color: $black;
  background-color: $yellow;
  font-size: 12.8px;
  padding: 10px 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
}

.btn-group{
  background-color: $light-blue;
  border-radius: 19.8px;
  border: solid 1.2px $medium-gray;

  .btn-secondary{
    width: 208px;
    height: 40px;
    border: solid 0px;
    border-radius: 19.8px;
    background-color: transparent;
    color: $medium-gray;
    &:active:hover {
      border: solid 1.2px $medium-gray;
      background-color: transparent;
      color: $medium-gray;
      border: solid 0px;
    }
  }

  .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    width: 208px;
    height: 35px;
    border-radius: 19.8px;
    border: solid 1.2px #fff;
    background-color: $blue;
    box-shadow: 0 8px 0 $blue, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    &:active{
      background-color: $blue;
      color:#fff;
    }
  }
}


a.threedbutton {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 40px;
  background:$yellow; /* background color of button */
  color: black;
  text-decoration: none;
  position: relative;
  top: 0; /* anchor main button's position */
  bottom: -12px; /* Depth of 3D effect. :after pseudo element inherits this value so it's animated in Chrome. See: kizu.ru/en/pseudos */
  margin-bottom: 12px;
  -moz-box-shadow: 0 -15px 5px $yellow inset;
  -webkit-box-shadow: 0 -15px 5px $yellow inset;
  box-shadow: 0 -15px 5px $yellow inset;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: solid 1.2px black;

}
a.threedbutton, a.threedbutton:after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -moz-border-radius: 19.8px;
  -webkit-border-radius: 19.8px;
  border-radius: 19.8px;
  outline: none;
}
a.threedbutton:after { /* pseudo element to construct 3D side of button */
  content: "";
  position: absolute;
  padding: 0;
  z-index: -1;
  bottom: inherit; /* Inherit main button bottom value to animate it. See: kizu.ru/en/pseudos */
  left: 0;
  margin-bottom: 3px;
  width: 100%;
  height: 90%;
  background: $dark-yellow; ; /* background color of 3D effect */
  -moz-box-shadow:  1px 1px 0px $black, -1px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow:   1px 1px 0px $black, -1px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 0px $black, -1px 0px 0px rgba(0, 0, 0, 1);
}
a.threedbutton:active {
  top: 12px; /* shift button down 12px when depressed. Change 12px to match button's "bottom" property above */
  bottom: 0;
  -moz-box-shadow: 0 -20px 5px $yellow inset, 1px 1px 2px #eee;
  -webkit-box-shadow: 0 -20px 5px $yellow inset, 1px 1px 2px #eee;
  box-shadow: 0 -20px 5px $yellow inset, 1px 1px 2px #eee;
}

a.threedbutton2 {
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 40px;
  background:$blue; /* background color of button */
  color: white;
  text-decoration: none;
  position: relative;
  top: 0; /* anchor main button's position */
  bottom: -12px; /* Depth of 3D effect. :after pseudo element inherits this value so it's animated in Chrome. See: kizu.ru/en/pseudos */
  margin-bottom: 12px;
  -moz-box-shadow: 0 -15px 5px $blue inset;
  -webkit-box-shadow: 0 -15px 5px $blue inset;
  box-shadow: 0 -15px 5px $blue inset;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: solid 1.2px white;
  font-size: 12.8px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  min-width: 122px;
}
a.threedbutton2, a.threedbutton2:after {
  display: inline-block;
  padding: 12px 15px; /* vertical and horizontal padding of button */
  -moz-border-radius: 19.8px;
  -webkit-border-radius: 19.8px;
  border-radius: 19.8px;
  outline: none;
}
a.threedbutton2:after { /* pseudo element to construct 3D side of button */
  content: "";
  position: absolute;
  padding: 0;
  z-index: -1;
  bottom: inherit; /* Inherit main button bottom value to animate it. See: kizu.ru/en/pseudos */
  left: 0;
  margin-bottom: 3px;
  width: 100%;
  height: 90%;
  background: $blue; /* background color of 3D effect */
  -moz-box-shadow:  1px 1px 0px white, -1px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow:   1px 1px 0px white, -1px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 0px white, -1px 0px 0px rgba(0, 0, 0, 1);
}
a.threedbutton2:active {
  top: 12px; /* shift button down 12px when depressed. Change 12px to match button's "bottom" property above */
  bottom: 0;
  box-shadow: 10px -20px 5px $yellow inset, 0px 0px 0px $yellow;
  border: solid 1.2px black;
  color: $black !important;
  background-color: $yellow;
}

a.threedbutton2:not([href]):not([tabindex]) {
  color: white;
}

.btn-max {
  max-width: 200px;
}

.fbsharelink{
  cursor: pointer;
}
.twsharelink{
  cursor: pointer;
}

.arrow-back {
  width: 26px;
  height: 1px;
  border-bottom: 0.19rem solid $medium-gray;
  float: left;
}
.arrow-back::before {
  display: block;
  content: '';
  border-top: 0.19rem solid $medium-gray;
  width: 14px;
  border-radius: 1px;
  transform: rotate(130deg);
  margin-top: -0.28rem;
  margin-left: -0.22rem;
  border-radius: 1px;
}
.arrow-back::after {
  display: block;
  content: '';
  border-bottom: 0.19rem solid $medium-gray;
  width: 15px;
  transform: rotate(48deg);
  margin-top: 0.40rem;
  margin-left: -0.22rem;
  border-radius: 1px;
}
span.arrow-text {
  float: left;
  margin-left: 30px;
  margin-top: -4px;
}

.btn-complain {
  margin-left: 4vw;
}
