footer{
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
  padding-top:20px;
}

footer-landing{
  @extend footer;
  top: 55px;
  padding-top: 140px;
  margin-top: auto;
  height: 291px;
}
footer-landing .col-md-12 {
  display: inline-flex;
}
footer-landing .logo {
  width: 28%;
  margin: 0 auto;
}
.logo img {
  width: 100%;
}
footer-landing .row.first {
  width: 50%;
  display: flex;
  align-items: center;
}
footer-landing .row.between {
  margin-bottom: 0;
  width: 50%;
  margin: 0 2%;
}
footer-landing .row.last {
  width: 10%;
}
.logo.data img,
.logo.anep img {
  margin-top: -24px;
}
.logo.codicen {
  width: 18%;
}
.logo.ces{
  width: 32%;
}
.logo.cetp{
  width: 36%;
}
footer-landing span {
  margin: 0 7px;
}
footer-complain{
  @extend footer-landing;
  top: 150px;
}
footer-about-us{
  @extend footer-landing;
  top: 300px;
}

footer-answer{
  @extend footer-landing;
  top: 300px;
}

footer-right{
  @extend footer-landing;
  top: 300px;
}

.cc-icon {
  font-family: "cc-fontello";
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  opacity: .8;
  line-height: 1em;
}
.cc-icon-cc::before {
  @extend .cc-icon;
  content: '\e804';
}
.cc-icon-cc-by {
  @extend .cc-icon;
}
