.input-group{
  margin-bottom: 15px;
}

.input-group > .form-control, .input-group > .custom-select {
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.34px;
  &:focus, &:active, &:focus{
    outline: none;
    border: none;
    outline:0px;
    -webkit-appearance:none;
    box-shadow: none;
    opacity: 1;
    font-style: normal;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
  opacity: 0.33;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-style: italic;
  opacity: 0.33;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-style: italic;
  opacity: 0.33;
}

select{
  border: none;
  width: 88%;
  background-color: #fff;
  margin-left: 10px;
  margin-top: 5px;
  &:focus, &:active, &:focus{
    outline: none;
    border: none;
    outline: 0px;
    box-shadow: none;
  }
}
.fa-search{
  text-align: center;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  display: inline-block;
}

.input-group{
  border-radius: 27.6px;
  border: 1.2px $medium-gray solid;
  padding: 10px;
  text-align: right;
  background-color: white;
  a{
    color: #fff;
  }
}

.input-group-search{
  z-index: 10;
  margin-top: 15px;
  width: 100%;
  height: 370px;
  border-radius: 27.6px;
  border: 1.2px $medium-gray solid;
  text-align: left;
  background-color: white;
  font-size: 12.8px;
  line-height: 1.56;
  color: #000000;
  overflow: hidden;
  .input-group-btn {
    border-top: 1.2px $medium-gray solid;
    padding-top: 2.6em;
    display: inline-flex;
  }
  .div-scroll{
    height: 265px;
    overflow:scroll;
    overflow-x:hidden;
  }
  a{
    color: #000;
  }

  .fas{
    font-size: 30px;
  }

}

.dot{
  height: 40px;
  width: 40px;
  background-color: $orange;
  border-radius: 50%;
  display: inline-block;
}

.not-border{
  border: 0px solid #fff;
  width: 100%;
}


.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}
