.custome-list{
  ul {
    position: relative;
  }
  ul li {
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none!important;
  }
  ul li:before {
    content: "";
    position: absolute;
    left : 0em;
    width: 30px;
    height: 3px;
    background: $blue-text;
    margin-top: 10px;
    margin-right: 10px;
  }
}
.arrow-container {
  display: flex;
  align-items: center;
  align-content: center;
}
.arrow {
  background: $blue-text;
  height: 3px;
  width: 30px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  display: block;
  &:before,
  &:after {
    content: "";
    background: $blue-text;
    position: absolute;
    height: 3px;
    width: 15px;
  }

  &:before {
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
  }

  &:after {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
  }
}
.search-results {
  margin-top: 2rem;
}
