.tag-search{
  min-width: 88px;
  height: 15.2px;
  border-radius: 9.6px;
  color: #0d0d0d;
  display: inline-block;
  font-size: 9.6px;
  text-align: center;
}
.tag-search1{
  @extend .tag-search;
  color: #fff;
  background-color: $blue-text;
}
.tag-search2{
  @extend .tag-search;
  background-color: $light-blue;
}
.tag-search3{
  @extend .tag-search;
  background-color: $skin;
}
.tag-search4{
  @extend .tag-search;
  background-color: $purple;
}
.tag-search5{
  @extend .tag-search;
  background-color: $lime;
}
.tag-search6{
  @extend .tag-search;
  background-color: $yellow;
}
