=image_tag("polygon-top.svg",  :class => "polygon-top")
=render "navbar"

.container
  .answers
    .row.justify-content-md-center.padding-top
      .col-md-6
        %a.threedbutton{:href => "#"}
          %i.fas.fa-arrow-left=t('.button_back')
      .col-md-6
        =image_tag("list.svg")
    .row.justify-content-md-center.text-main
      .col-md-8
        .text-title
          =t('.title')
    %div.margin-top
    =image_tag("polygon-big-right.svg",  :class => "polygon-big-right")
    =image_tag("polygon-big-left.svg",  :class => "polygon-big-left")
    -5.times do |x|
      .row.justify-content-md-center
        .col-md-10
          .label-solid
            .div-title
              .row
                .col-md-6
                  .tag-answer
                    Pregunta
                .col-md-6.right.c_gray
                  Enviado Martes 02 de Abril 20:07
            %hr
            .row
              .col-md-12
                .text-p
                  %p Si voy a un colegio doble horario, y practico futbol en un club federado (nacional o peñarol), puedo salir antes y que se me justifiquen las faltas de la ultima materia del dia? Si es posible, que normativa lo considera? Gracias
            .row.justify-content-end
              .btn-shape
                Ver detalle

%footer-answer.sticky-footer.max-parent
  =render "shared/footer"